#map-canvas {
	background-color: red;
	height: 100%;

	@media (min-width: 100px) and (max-width: 768px){
		height: 55%;		
	}
}

.search-list {
	background-color: blue;
	height: 100%;

	@media (min-width: 100px) and (max-width: 768px){
		height: 45%;		
	}
}